
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../images/image01.jpg) repeat-x left top;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

p, ul, ol {
	margin: 0px;
	padding: 0px;
	line-height: 23px;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
}

ul, ol {
	margin-left: 3em;
}

a {
	color: #9CC54F;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

#header {
	width: 900px;
	height: 127px;
	margin: 0 auto;
	padding: 0px;
}

#navigation {
	width: 900px;
	height: 51px;
	margin: 0px auto;
	padding: 0px;
}

#navigation ul {
	margin: 0px;
	list-style: none;
}

#navigation li {
	display: inline;
}

#navigation a {
	display: block;
	float: left;
	height: 49px;
	margin-right: 2px;
	padding: 12px 30px 0px 30px;
	background: url(../images/image02.jpg) no-repeat right 16px;
	text-decoration: none;
	color: #525250;
}

#navigation .first {
	padding-left: 0px;
}


#logo {
	width: 900px;
	height: 64px;
	margin: 0 auto;
	padding-top: 12px;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -3px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 36px;
	color: #A9D540
}

#logo p {
	margin: -8px;
	padding: 0px 0px 0px 12px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	color: #C8C8C8;
}

#logo span {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#logo a {
	text-decoration: none;
	color: #C8C8C8;
}

#splash {
	width: 900px;
	height: 300px;
	margin: 0px auto;
	padding: 30px 0px;
}

#content {
	padding: 0px 0px 20px 0px;
}

#page {
	width: 900px;
	margin: 0px auto;
	padding: 40px 0px 20px 0px;
}

#column1 {
	float: left;
	width: 580px;
	padding-right: 30px;
	border:#000 solid 1px;
}

#column1 h2 {
	padding-bottom: 6px;
	background: url(../images/image03.jpg) repeat-x left bottom;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	color: #525250;
}

#column2 {
	float: right;
	width: 260px;
	border:#000 solid 1px;
}

#column2 h2 {
	padding-bottom: 6px;
	background: url(../images/image03.jpg) repeat-x left bottom;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	color: #525250;
}

.separator {
	background: url(../images/image03.jpg) repeat-x left bottom;
}

.more {
	padding: 3px 10px;
	background: #474747;
	text-decoration: none;
	font-size: 10px;
	color: #FFFFFF;
}

#footer {
	width: 900px;
	margin: 0px auto;
	padding: 5px 0px;
	background: url(../images/image03.jpg) repeat-x left top;
}

#footer p {
	text-transform: uppercase;
	font-size: 10px;
	color: #90908E;
}

#footer .links {
	text-decoration: none;
	color: #9CC54F;
}

.index_user_face {
	float:left;
	width:90px;
	height:90px;
	margin:10px;
}

img.index_user_face{
	width:90px;
	height:90px;
}

#write_blog {
	float: left;
	width: 840px;
	padding: 20px 30px 10px 30px;
	
}

.listMessageBox{
	width:100%;
	border-bottom:1px dashed #000;
}

.messageTitle{
	
}

p.messageContent{
	font-size:20px;		
}

#writeMessageBox{
	width:100%;
}

#writeMessageTitle{
	font-size:25px;
	color:red;	
}

#writeMessageContent{
	width:100%;
}

#writeMessageSubmitButton{
	
}